.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title span {
  color: #ce0e0e;
  text-decoration: none;
}
.title span:first-child {
  color: #0ece51;
}
.title span:last-child {
  color: #ceb40e;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}